.skills__container {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.skills__group {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
}
.skills__title {
  font-size: large;
  margin-bottom: 20px;
}
.skills__dataa i img {
  margin: auto;
  padding-bottom: 10px;
}
.skills__content {
  text-align: center;
  padding: 30px;
  border-radius: var(--border-radius);
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.skills__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius);
  border: 3px solid black;
  transition: all 0.5s;
  clip-path: inset(0 0 95% 0);
}

.skills__content:hover {
  transform: translateY(-10px);
}

.skills__content:hover::before {
  animation: clippath 3s infinite linear;
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 95% 0);
  }

  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
}
